.sidebar {
  width: 220px;
  height: 100vh;
  position: fixed;
  background-color: var(--secondary);
  color: var(--white);
  transition: transform 0.3s ease;
  transform: translateX(0);
  z-index: 1000;

  &.active {
    transform: translateX(-100%);
  }

  .sidebar-header {
    padding: 1.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    .profile-section {
      display: flex;
      align-items: center;
      gap: 1rem;

      .avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid var(--accent-positive);
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.1);
        }
      }

      .profile-info {
        h4 {
          margin: 0;
          font-size: 1.3rem; /* Aumentado para mayor prominencia */
          font-weight: 700;
          color: var(--white);
          transition: color 0.3s ease;
          &:hover {
            color: var(--primary);
          }
        }

        p {
          margin: 0;
          font-size: 1rem; /* Aumentado para mejor legibilidad */
          color: rgba(255, 255, 255, 0.9); /* Color más claro para contraste */
          font-weight: 500;
        }
      }
    }
  }

  .sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 1rem 0;

    .menu-item {
      a {
        display: flex;
        align-items: center;
        padding: 1rem 1.5rem;
        color: rgba(255, 255, 255, 0.8);
        text-decoration: none;
        transition: all 0.3s ease;
        border-radius: 5px;

        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
          color: var(--white);
          transform: translateX(5px);
        }

        &.active {
          background-color: var(--primary);
          color: var(--secondary);
          font-weight: 600;
        }

        span {
          flex: 1;
          font-size: 1.1rem;
        }
      }
    }
  }
}