[build]
  command = "npm run build"
  publish = "dist/consultorio-odontologico-frontend/browser"
  base = ""

[build.environment]
  NODE_VERSION = "20"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
