<div class="card fade-in">
  <div class="card-header">
    <h3>Lista de Pagos</h3>
    <a routerLink="new" class="btn btn-success">Nuevo Pago</a>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Paciente ID</th> <!-- Cambiado de "Paciente" a "Paciente ID" -->
          <th>Fecha</th>
          <th>Monto</th>
          <th>Método</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pago of pagos">
          <td>{{ pago.idPago }}</td>
          <td>{{ pago.idPaciente }}</td> <!-- Cambiado de pago.paciente?.nombre a pago.idPaciente -->
          <td>{{ pago.fechaPago | date }}</td>
          <td>{{ pago.monto | currency }}</td>
          <td>{{ pago.metodoPago }}</td>
          <td>
            <a routerLink="{{pago.idPago}}/edit" class="btn btn-primary btn-sm">Editar</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>